html,body,div,ul,ul li,h1,h2,h3,h4,h5,h6,video,img,a,hr,p,footer {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: "microsoft yahei";
	/*overflow: hidden;*/
	}
	
body {
	/*overflow: hidden;*/
	
}
#section_header ul li a {
			line-height: 44px;
			font-size: 18px;
		}
		


.footer {
	margin-top: 440px;
	position: relative;
	background: gray;
	height: 3500px;
}
