/**
 * Parallax Scrolling Tutorial
 * For Smashing Magazine
 * July 2011
 *  
 * Author: Richard Shepherd
 *		   www.richardshepherd.com
 * 		   @richardshepherd   
 */


article h2 { font-family: 'Lobster Two'; font-size: 32px; margin: 25px 0; line-height: 1em; }

.story { 
	height: 600px; 
	padding: 0; 
	margin: 0; 
	width: 100%; 
	/*max-width: 1920px;*/
	position: relative; 
	margin: 0 auto; 
	
	}

#first { background: url(../images/puckered.png) 50% 0 no-repeat fixed; }





/* Introduction */
#first .smashinglogo { background: url(../images/smashing-logo.png) 50% 100px no-repeat fixed; min-height: 1000px; padding: 0; margin: 0; width: 100%; max-width: 1920px; position: relative; margin: 0 auto; }
#first article { width: 100%; top: 300px; position: absolute; text-align: center; }
#first article p,
#first article a { color: #ccc; }
#first article a { text-decoration: underline; }
#first article a:hover { color: #fff; }

/* Background Only */
#second { 
	background: url(https://assets.logitech.com/assets/65272/3/craft.jpg) 50% 0 no-repeat fixed;
	 }
#second { 
	padding: 50px 0;
	
}
#second article { 
	position: absolute;
	/*background: url(../img/1.png) repeat #333;*/ 
	/*color: #fff;*/ 
	width: 445px; 
	margin-top: 10%; 
	/*margin-left: 5%;*/ 
	padding: 10px 20px; 
	text-shadow: 0 -1px 0 rgba(0,0,0,0.5); 
	line-height: 1.5em; 
	border: 1px solid rgba(150,150,150,0.1); 
	}
#second article p { margin-bottom: 25px; }
#second article a { color: #ff0;}

/*id="third" background-image*/
#third { 
	background: url(https://assets.logitech.com/assets/65272/4/craft.jpg) 50% 0 no-repeat fixed; 
	}
/* Photograph */
#third .photograph { 
	position: absolute;
	background: url(../img/o.png) transparent 10% 10% no-repeat fixed; 
	min-height: 700px; 
	/*top: 50%;*/ 
	left: 40px;
	height: 800px;
	width: 400px; 
	max-width: 1920px; 
	/*position: relative;*/ 
	margin: 0 auto; 
	}
#third article {  
	/*background: url(../img/o.png) repeat #333;*/ 
	color: #fff; 
	/*padding: 10px 20px; 
	margin: 100px 0 0 60%; 
	text-shadow: 0 -1px 0 rgba(0,0,0,0.5); 
	line-height: 1.5em; */
	position: absolute; 
	/*top: 100px;*/ 
	/*box-shadow: 0 0 25px rgba(0,0,0,0.3); 
	border: 1px solid rgba(150,150,150,0.1); */
	
	width: 445px; 
	margin-top: 10%; 
	padding: 10px 20px; 
	text-shadow: 0 -1px 0 rgba(0,0,0,0.5); 
	line-height: 1.5em; 
	border: 1px solid rgba(150,150,150,0.1); 
	}

#third article p { width: 300px; margin-bottom: 25px; }


/* HTML5 Video */
#fourth { background: url(../img/1.png) 50% 0 no-repeat fixed; }
#fourth article {  margin-left: 10%; text-shadow: 0 -1px 0 rgba(0,0,0,0.5); line-height: 1.5em; color: #fff; position: absolute; top: 0; }
#fourth article p { width: 300px; margin: 50px 0; }
#fourth video { position: fixed; left: 50%; box-shadow: 0 0 25px rgba(0,0,0,0.7); z-index: 1;}

/* The End */
#theend { background: url(../img/14.png) 50% bottom no-repeat fixed; }
#theend .byebye { background: url(../img/craft.png) 40% 100px no-repeat fixed; height: 1000px; padding: 0; margin: 0; width: 100%; max-width: 1920px; position: relative; margin: 0 auto; }


